Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, manipulation, and analysis of the data. It provides a way to store and manage large amounts of structured or unstructured data
The main differences between SQL and NoSQL databases lie in their data models, query languages, data consistency, scalability, and suitability for different types of data and workloads. SQL databases provide a structured, relational approach with strong data consistency, while NoSQL databases offer flexibility, scalability, and better handling of unstructured or semi-structured data. The choice between SQL and NoSQL depends on the specific requirements and characteristics of the data and the use case

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of the database schema. DDL statements are used to create, alter, and delete database objects such as tables, indexes, views, and constraints.

CREATE: The CREATE statement is used to create a new database object. For example, to create a new table named "Customers" with columns for customer ID, name, and email, the following SQL statement can be used:

CREATE TABLE Customers (
    CustomerID INT,
    Name VARCHAR(50),
    Email VARCHAR(100)
);

DROP: The DROP statement is used to delete an existing database object. For example, to drop the "Customers" table created earlier, the following SQL statement can be used:
    DROP TABLE Customers;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or drop columns, constraints, or indexes. For example, to add a new column named "Phone" to the "Customers" table, the following SQL statement can be used:
    
    ALTER TABLE Customers
ADD Phone VARCHAR(15);

TRUNCATE: The TRUNCATE statement is used to delete all the data from a table while keeping the table structure intact. It is faster than using the DELETE statement as it does not generate individual delete operations for each row. For example, to remove all data from the "Customers" table, the following SQL statement can be used:
    
    TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are used to insert, update, and delete data in database tables.

INSERT: The INSERT statement is used to add new rows of data into a table. For example, to insert a new record into a table named "Employees" with columns for employee ID, name, and salary, the following SQL statement can be used:
    INSERT INTO Employees (EmployeeID, Name, Salary)
VALUES (1, 'John Doe', 50000);


UPDATE: The UPDATE statement is used to modify existing data within a table. It allows you to change the values of one or more columns in one or more rows. For example, to update the salary of an employee with EmployeeID 1 in the "Employees" table, the following SQL statement can be used:
    
    UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 1;

DELETE: The DELETE statement is used to remove one or more rows from a table. It allows you to specify conditions to identify the rows to be deleted. For example, to delete all records from the "Employees" table where the salary is below a certain threshold, the following SQL statement can be used:
    
    DELETE FROM Employees
WHERE Salary < 50000;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are primarily focused on retrieving and querying data.
SELECT Name
FROM Employees
WHERE Salary > 50000;

Q5. Explain Primary Key and Foreign Key.

A primary key uniquely identifies each row in a table, while a foreign key establishes a relationship between tables by referencing the primary key of another table. Both primary and foreign keys are essential components of relational databases, ensuring data integrity and enabling the establishment of relationships between tables

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

 Establish a connection to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

 Create a cursor object
cursor = connection.cursor()

 Execute SQL queries
cursor.execute("SELECT * FROM table_name")

 Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

 Close the cursor and the connection
cursor.close()
connection.close()


In the example code, the cursor is used to execute a SELECT statement (SELECT * FROM table_name). The fetchall() method retrieves all the rows returned by the query. You can also use other fetch methods like fetchone() to fetch one row at a time.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM 

WHERE

GROUP BY

HAVING

SELECT

DISTINCT

ORDER BY

LIMIT/OFFSET